



:root{
    --primarycolor: #4CAF4F;
    --secondarycolor: #F5F7FA;
}



/* navbar start */

.greenbtn{
    background-color: var(--primarycolor);
    
}


/* hero section start */


.hero{
    background-color: var(--secondarycolor);
}
.years{
    color: var(--primarycolor) !important;
}


/* hero section end */


/* Feature section start */

.like{
    width: 43%;
    font-size: 20%;
}

.self{
 color: #4CAF4F !important;

}

/* Feature  section end */




/* grade sec start */


.lie{
    width: 92%;
}

.very{
    width: 53%;
}

/* garde sec end */




/* community start */
.people{
    width: 24%;
}

.right{
    width: 100%;
}


/*Libero section start  */
.demo{
    font-size:30px;

}

.colorbtn{
background-color: #4CAF4F;
  
}
  
/* Libero section end */


@media screen  and (min-width: 579px){

   

    .images{
        width: 6% !important;
    }
    
}










@media screen and (max-width:991px) {
    
  
    
    

    .sit{
        font-size: 35px;
    }
    .tie{
         order: 1;
    }

    .seen{
        width: 100%;
        order: 2;
       
    }
}