



:root{
    --primarycolor: #4CAF4F;
    --secondarycolor: #F5F7FA;
}



/* navbar start */

.greenbtn{
    background-color: var(--primarycolor);
    
}


/* hero section start */


.hero{
    background-color: var(--secondarycolor);
}
.years{
    color: var(--primarycolor) !important;
}


/* hero section end */


/* client section start */
@media screen  and (min-width: 579px){

   

    .images{
        width: 6% !important;
    }
    
}
