



:root{
    --primarycolor: #4CAF4F;
    --secondarycolor: #F5F7FA;
}



/* navbar start */

.greenbtn{
    background-color: var(--primarycolor);
    
}


/* hero section start */


.hero{
    background-color: var(--secondarycolor);
}
.years{
    color: var(--primarycolor) !important;
}


/* hero section end */


/* Feature section start */

.like{
    width: 43%;
    font-size: 20%;
}

.self{
 color: #4CAF4F !important;

}

/* Feature  section end */


/*Libero section start  */
.demo{
    font-size:30px;

}

.colorbtn{
background-color: #4CAF4F;
  
}
  
/* Libero section end */

/* client section start */
@media screen  and (min-width: 579px){

   

    .images{
        width: 6% !important;
    }
    
}


/* client section end */


/* community start */
.people{
    width: 24%;
}

.right{
    width: 100%;
}